on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  conviso-ast:
    runs-on: ubuntu-latest

    container:
      image: convisoappsec/convisocli:latest
      env:
        CONVISO_API_KEY: ${{ secrets.CONVISO_API_KEY }}
        CONVISO_COMPANY_ID: 442
        CONVISO_API_URL: "https://staging.convisoappsec.com"
        CONVISO_ASSET_NAME: "juice-shop"   

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Run AST and Security Gate
      run: |
        conviso ast run --vulnerability-auto-close
